.post-card {
  border-bottom: 1px solid #ccc;
  height: auto;
  margin: 0px 0px 20px;
  max-height: 250px;
  overflow: hidden;
  padding: 15px;
  text-overflow: ellipsis;
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
  width: auto;
}

.post-card:hover {
  box-shadow: 0 11px 11px 8px rgba(0, 0, 0, 0.16);
  transform: translateY(-5px);
}

.post-card-header {
  margin: 5px 0;
}

.post-card-date {
  color: #6c757d;
  margin: 10px 0;
}

.post-card-details {
  overflow: hidden;
  text-overflow: ellipsis;
}
