.footer-container {
  padding-top: 40px;
  padding-bottom: 20px;
  width: auto;
}

.footer-body {
  align-items: center;
  align-content: center;
  border-top: 1px solid #d6d6d6;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1% 15%;
}

.footer-body a {
  text-decoration: none;
}

.footer-link {
  color: #000000;
  padding: 0px 10px;
  margin: 0;
}

.footer-link:hover {
  color: #7d858c;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}
