.comment-card {
  width: 700px;
  margin-top: 20px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.comment-card-top {
  display: flex;
  justify-content: space-between;
}

.comment-card-header {
  display: flex;
  align-content: center;
  align-items: center;
}

.comment-card-info {
  display: block;
}

.comment-card-title {
  margin-bottom: 5px;
}

.comment-card-date {
  color: #6c757d;
}

.comment-card-image {
  margin: 10px;
}

.comment-card-remove {
  margin-right: 4px;
}

.comment-card-body {
  display: flex;
  margin: 10px;
  word-wrap: anywhere;
}

.comment-card-text-input {
  margin-bottom: 10px;
}

.command-card-form {
  width: 100%;
}
